* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  }

body {
  font-family: sans-serif;
  background-color: #f5f5f5; 
  min-height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
}

.App {
  background-color: #fff; 
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
  max-width: 400px; 
  text-align: center; 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.7rem;
}

button {
  background-color: #4CAF50; 
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 0px; 
  font-size: 1.1rem;
}

button:hover {
  background-color: #3e8e41; /* Darker green on hover */
}

.gap {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  align-items: center;
}

select {
  /* background-color: red; */
  padding: 5px 10px;
  font-size: 0.9rem;
}

input {
  padding: 5px 10px;
  font-size: 0.9rem;
}

h2 {
  text-align: center;
  margin: 1rem 0;
  text-decoration: underline;
  color: royalblue;
}

h3 {
  color: royalblue;
}


